.container {
  max-width: 144rem;
  margin: 0 auto;
}
.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  &_desc {
    padding-top: 12rem;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #5e6085;
    padding-bottom: 1.5rem;
  }
  &_heading {
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.2rem;
    color: #000958;
  }
  &_link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: #ff5b2e;
    padding: 2rem 3rem;
    margin-top: 5rem;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0px 1.3rem 2.6rem -0.8rem rgba(255, 91, 46, 0.42);
    border-radius: 3.1rem;
    text-align: center;
    &:hover {
      color: white;
      background-color: #ff5b2e;
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5.9rem;
  width: 100%;
  align-content: center;
}
.card {
  &_wraper {
    position: relative;
    border-radius: 999px;
    &::before {
      content: "";
      position: absolute;
      height: 94%;
      z-index: -1;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 999px;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  &_img {
    width: 24rem;
    height: 29rem;
    border-radius: inherit;
  }
  &_title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    color: #656689;
  }
  &_name {
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #000958;
  }
}
.card_wraper_first::before {
  background-color: #90ccff;
}

.card_wraper_second::before {
  background-color: #ff997e;
}

.card_wraper_third::before {
  background-color: #fabf3e;
}
.card_wraper_fourth::before {
  background-color: #5bd6e2;
}

.card_wraper_first::after {
  background-image: url(../assets/Employee2/decor1.png);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3.6rem);
  z-index: 100;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 100%;
  content: "";
}

.card_wraper_second::after {
  background-image: url(../assets/Employee2/decor2.png);
  position: absolute;
  bottom: 52%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3.6rem);
  z-index: 100;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 100%;
  content: "";
}

.card_wraper_third::after {
  background-image: url(../assets/Employee2/deocor3.png);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3.6rem);
  z-index: 100;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 100%;
  content: "";
}
.card_wraper_fourth::after {
  background-image: url(../assets/Employee2/decor4.png);
  position: absolute;
  bottom: 52%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3.6rem);
  z-index: 100;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 100%;
  content: "";
}
